@use 'base/variables' as v;
 

.alerta{

    padding: 1.5rem 1.5rem 1.5rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: v.$azul;
      
    &__error{
        background-color: lighten($color: v.$rojo, $amount: 60%);
        border-left: 5px v.$rojo solid;
        color: v.$rojo;

    }
  
    &__exito{
        background-color: lighten($color: v.$verde, $amount: 40%);
        border-left: 5px v.$verde solid;
        color: darken($color: v.$verde, $amount: 25);

    }
}